/*#reset password Page*/
.reset-password-container {
  position: relative;
  margin: 10% auto;
  max-width: 300px;
}
.reset-password-container .reset-password-box {
  position: relative;
  width: 300px !important;
  height: auto !important;
  padding: 0 0 20px 0;
  -webkit-box-shadow: 0 0 14px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 14px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.1);
}
.reset-password-container .reset-password-box .reset-password-box-title {
  position: relative;
  text-align: center;
  width: 100%;
  height: 35px;
  padding-top: 10px;
  font-family: 'Lucida Sans', 'trebuchet MS', Arial, Helvetica;
  font-size: 20px;
  font-weight: normal;
  color: #444444;
}
.reset-password-container .reset-password-box .reset-password-box-social {
  padding: 0 10px 10px;
  text-align: center;
}
.reset-password-container .reset-password-box .reset-password-box-social .social-title {
  font-size: 14px;
  font-weight: 500;
  color: darkgray;
  margin-top: 10px;
}
.reset-password-container .reset-password-box .reset-password-box-social .social-buttons {
  height: 80px;
  padding: 15px 35px;
  text-align: center;
}
.reset-password-container .reset-password-box .reset-password-box-social .social-buttons .button-facebook {
  float: left;
  border: 2px solid #3b5998;
  color: #3b5998;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 30px;
  background-color: #ffffff;
}
.reset-password-container .reset-password-box .reset-password-box-social .social-buttons .button-facebook i {
  font-size: 26px;
  line-height: 50px;
}
.reset-password-container .reset-password-box .reset-password-box-social .social-buttons .button-twitter {
  float: left;
  border: 2px solid #29c1f6;
  color: #29c1f6;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 30px;
  background-color: #ffffff;
}
.reset-password-container .reset-password-box .reset-password-box-social .social-buttons .button-twitter i {
  font-size: 26px;
  line-height: 50px;
}
.reset-password-container .reset-password-box .reset-password-box-social .social-buttons .button-google {
  border: 2px solid #ef4f1d;
  color: #ef4f1d;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: #ffffff;
}
.reset-password-container .reset-password-box .reset-password-box-social .social-buttons .button-google i {
  font-size: 26px;
  line-height: 50px;
}
.reset-password-container .reset-password-box .reset-password-box-or {
  position: relative;
  text-align: center;
  height: 20px;
}
.reset-password-container .reset-password-box .reset-password-box-or .or {
  position: absolute;
  top: 0;
  -lh-property: 0;
left:-webkit-calc(50% - 25px);
left:-moz-calc(50% - 25px);
left:calc(50% - 25px);
;
  width: 50px;
  height: 20px;
  background-color: #ffffff;
  color: #999999;
  margin: 0 auto;
}
.reset-password-container .reset-password-box .reset-password-box-or .or-line {
  position: absolute;
  height: 1px;
  top: 10px;
  left: 40px;
  right: 40px;
  background-color: #cccccc;
}
.reset-password-container .reset-password-box .reset-password-box-textbox {
  padding: 10px 40px;
}
.reset-password-container .reset-password-box .reset-password-box-textbox .form-control {
  -webkit-border-radius: 3px !important;
  -webkit-background-clip: padding-box !important;
  -moz-border-radius: 3px !important;
  -moz-background-clip: padding !important;
  border-radius: 3px !important;
  background-clip: padding-box !important;
}
.reset-password-container .reset-password-box .reset-password-box-forgot {
  padding-left: 40px;
}
.reset-password-container .reset-password-box .reset-password-box-forgot a {
  /*font-size: 11px;*/
  color: #666666;
}
.reset-password-container .reset-password-box .reset-password-box-submit {
  padding: 10px 40px;
}
.reset-password-container .reset-password-box .reset-password-box-signup {
  text-align: center;
  padding-top: 10px;
}
.reset-password-container .reset-password-box .reset-password-box-signup a {
  font-size: 13px;
  color: #666666;
}
.reset-password-container .logobox {
  width: 300px !important;
  height: 50px !important;
  padding: 5px;
  margin-top: 15px;
  -webkit-box-shadow: 0 0 14px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 14px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  text-align: left;
}
/*#endregion Login Page*/
