<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="keywords" content="关键词" />
	    <meta name="description" content="描述">
		<title>Alert 警告提示</title>
		<link href="../../assets/content/bootstrap/bootstrap-3.3.7.css" rel="stylesheet" />
		<link href="../../assets/content/bootstrap/font-awesome.css" rel="stylesheet" />
		<link href="../../assets/css/beyond.css" rel="stylesheet" />
	    <link href="../../assets/css/site.css" rel="stylesheet" />
	</head>
	<body>
		<input type="hidden" value="true" name="loadMenu" />
		<!-- 资源加载防止白屏 -->
	    <div class="loading-container hidden">
	        <div class="loader"></div>
	    </div>
	    <div class="navbar navbar-fixed-top fh-fixedHeader">
		    <div class="navbar-inner"></div>
		</div>
	    <!-- Main Container -->
	    <div class="main-container container-fluid">
	        <!-- Page Container -->
	        <div class="page-container">
	        	<div class="page-sidebar sidebar-fixed" id="sidebar"></div>
	            <!-- Page Content -->
	            <div class="page-content page-body">
	            	<div class="page-header">
						<h2>summernote 富文本框</h2>
					</div>
					<p class="lead">概述</p>
					<p>summernote 是基于jquery、bootstrap一款简洁大方的富文本框插件。 本站点的做了中文，默认样式实例化。</p>
					<p>其官方地址是：<a href="https://www.datatables.net/" target="_blank">https://summernote.org/</a></p>
					<p>github地址是：<a href="https://github.com/summernote/summernote/" target="_blank">https://github.com/summernote/summernote/</a></p>
					<div class="page-header">
						<h4>基本用法</h4>
					</div>
					<div class="demo-block demo-box">
		            	<div class="source">
		            		<div class="summernote">Hello Summernote</div>
		            	</div>
		            	<div class="meta" data-height="130">
		            		<div class="description">
		            			<p>默认情况下会自动初始化带<code>summernote</code>的样式。</p>
		            		</div>
		            		<div class="highlight">
		            			<pre>
		            				<code class="hljs language-javascript">&lt;div class=&quot;summernote&quot;&gt;Hello Summernote&lt;/div&gt;
&lt;script&gt;
	define([&quot;site-summernote&quot;], function () {});
&lt;/script&gt;</code>
		            			</pre>
		            		</div>
		            	</div>
		            	<div class="demo-block-control">
		            		<i class="glyphicon glyphicon-chevron-down"></i><span>显示代码</span>
		            	</div>
		           	</div>
	            </div>
	        </div>
	    </div>
	    <script src="../../assets/Scripts/require-2.2.0.js" data-main="../../assets/js/site-config.js"></script>
	</body>
</html>
